h2 {
	font-style: bold;
	color: blue;
}

h3 {
	color: blue;
}

h4 {
	color: blue;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: yellow;
}
a:active {
	text-decoration: none;
}

table tr:nth-child(even){
	background-color: DodgerBlue;
}

table tr:nth-child(odd){
	background-color: LawnGreen;
}