h1 {
	text-align: center;
	font-style: bold;
	font-family: Lucida Handwriting;
}

p {
	text-align: center;
}

a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a:hover {
	font-style: bold;
}
a:active {
	text-decoration: none;
}